// -----------------------------------------------------------------
// Font Size
// -----------------------------------------------------------------

// 通常サイズ
$base-font-size: 12px;

// 大サイズ
$base-font-size-large: 14px;

// 小サイズ
$base-font-size-small: 10px;