doctype html
html(lang='ja')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet', href='css/style.min.css')
        title Pug練習
        meta(name='description', content='Pugの練習')
        meta(name='keywords', content='Pugの練習')
    body
        #content
            .inner
                p Hello Pug!
        script(src='js/scrollTop.min.js')