.modalContainer {
	position: fixed;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	z-index: 999;
	width: 100%;
	height: 100%;
}
.modalOverlay {
	position: absolute;
	top: 0;
	left: 0;
	width: inherit;
	height: inherit;
	opacity: 0.5;
	-ms-filter: "alpha(opacity=50)";
	background-color: #000000;
}
.modalWrapper {
	position: relative;
	display: table;
	width: inherit;
	height: inherit;
}
.modalWrapperInner {
	display: table-cell;
	width: inherit;
	height: inherit;
	vertical-align: middle;
}
.modalBody {
	position: relative;
	width: 400px;
	margin: 0 auto;
	padding: 10px;
	background: #FFFFFF;
	z-index: 110;
}